<!DOCTYPE html>
<html>
<head>
  <title><%- config.title %> | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="container">
    <h1 style="text-align: center;" class="title"><%- config.title %></h1>
    <form autocomplete="off" method="POST" class="needs-validation login">
      <div class="header">
        <h3 class="header-text">Login to your account</h3>
      </div>
      <div class="message">
        <% if (info.length > 0 || err.length > 0) {
          %>
          <div class="message-<%- info.length ? `info`: `error` %>">
            <p>
              <%- info.length ? info: err %>
            </p>
          </div>
          <%
        } %>
      </div>
      <div class="form-group">
        <label class="email-label" for="email">Email</label>
        <input type="email" placeholder="Ex. myemail@gmail.com" id="email" name="email" class="custom-input email" required>
        <div class="email-error invalid-feedback"></div>
      </div>
      <div class="form-group">
        <label class="password-label" for="password">Password</label>
        <input type="hidden" name="_csrf" class="_csrf" value="<%- csrfToken %>">
        <input type="password" placeholder="••••••••••" id="password" name="password" class="password custom-input" required>
        <div class="password-error invalid-feedback"></div>
      </div>
      <div class="captcha">
        <div class="g-recaptcha" data-callback="whenCaptchaDone" data-sitekey="6Le9pmYdAAAAAHH6x0upkkrGDdp6Xs9EgV1D1k89"></div>
      </div>
      <div class="forgot">
        <a href="/forgot-password">Forgot password</a>
      </div>
      <div class="form-group">
        <button disabled="true" type="submit" class="custom-button">Login</button>
      </div>
      <div class="action">
        Don't have an account yet? <a href="/register">Register</a>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    function whenCaptchaDone() {
      let button = document.querySelector(".custom-button");
      button.disabled = false;
    }
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>